*{
    margin: 0; padding: 0;
    background-color: #00ced1;

}

.header{
    float: top;
    margin-top: 10px;
    margin-left: 20px;
}
.logo{
    text-align: center;
    margin-top: 40px;
}
.content{
    color: white;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.people{
    margin-top: 100px;
    margin-left: 50px;
    display:inline-block;
}
.bj{
    float:right;
    margin-right:50px;
    margin-top: 100px;
    display: inline-block;
}