*{
    margin: 0; padding: 0;
    background-color: #00ced1;

}

.header{
    float: top;
    margin-top: 40px;
    margin-left: 82px;
}
.logo{
    text-align: center;
    margin-top: 85px;
}
.content{
    color: white;
    margin-top: 255px;
    margin-left: 210px;
    margin-right: 234px;
}
.people{
    margin-top: 372px;
    margin-left: 325px;
    display:inline-block;
}
.bj{
    float:right;
    margin-right: 325px;
    margin-top: 372px;
    display: inline-block;
}