*{
    margin: 0; padding: 0;
    background-color: #00ced1;

}

.header{
    float: top;
    margin-top: 2vh;
    margin-left: 5vw;
}
.logo{
    text-align: center;
    margin-top: 5vh;
}
.content{
    color: white;
    margin-top: 12vh;
    margin-left: 14vw;
    margin-right: 16vw;
}
.people{
    margin-top: 18vh;
    margin-left: 20vw;
    display:inline-block;
}
.bj{
    float:right;
    margin-right: 20vw;
    margin-top: 18vh;
    display: inline-block;
}