*{
    margin: 0; border: 0;
}
.box{
    margin: 1%;
    width:31%;
    padding-bottom: 31%;
    float: left;
    background-color: yellow;
    border-radius: 5%;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">