* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F0F0F0;
    z-index: -99999;
}
header {
    height: 60px;
    width: 100%;
    background-color: #29BDE0;
}
.yi1 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top:20px;
    left:15px;
}
.yi2 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top:30px;
    left:15px;
}
.yi3 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top:40px;
    left:15px;
}
ul {
    list-style-type: none;
}
.part1 {
    display: flex;
    position: relative;
    height: 80px;
    width: 80%;
    margin-left: 10%;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.txt1 {
    position: absolute;
    left: calc(50% - 115.5px);
    top: calc(50% - 16.5px);
    font-size: 25px;
    color: #9A9A9A;
}
.txt111 {
    margin: auto;
    position: relative;
    left: 45%;
}
.part2 {
    position: relative;
    width: 80%;
    height: 60px;
    margin-left: 10%;
    background-color: #ffffff;
    margin-top: 30px;
    border-bottom: 2px solid #FDD793;
}
.txt2 {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 16.5px);
    font-size: 25px;
    color: #FBB435;
}
.part3 {
    position: relative;
    width: 80%;
    height: 120px;
    margin-left: 10%;
    background-color: #ffffff;
}
.box1 {
    position: relative;
    width: 80%;
    height: 80px;
    background-color: #69D1E9;
    margin: auto;
    top: calc(50% - 40px);
    display: flex;
    justify-content: center;
}
.box2 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    background-color: #69D1E9;
    margin: auto;
    top: calc(50% - 40px);
}
.san {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FBB435;
    border-right: 20px solid transparent;
    position: absolute;
    right: -45px;
}
.txt3 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: calc(50% - 20px);
    color: #FFFFFF;
    text-decoration: none;
}
.txt4 {
    background-color: #ffffff;
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    color: #787878;
}
.txt6 {
    text-align: center;
    font-size: 30px;
    position: relative;
    color: #FFFFFF;
}

.txt5 {
    background-color: #ffffff;
    position: relative;
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    color: #787878;
    height: 40px;
}
.quanquan {
    display: flex;
    background-color: #ffffff;
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    height: 30px;
    justify-content: center;
}
.quan1 {
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 20px;
    background-color: #69D1E9;
    margin-left: 10px;
}
.quan2 {
    width: 20px;
    height: 20px;
    border: 1px;
    border-radius: 20px;
    background-color: #F0F0F0;
    margin-left: 10px;
}
