* {
    margin: 0;
    padding: 0;
}
html body {
    z-index: -99999;
    font-size: 62.5%;
    background-color: #29BDE0;
    overflow-y: scroll;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #74D4EB;
    
}
.home {
    margin-left: 20px;
    width: 2rem;
    height: 1.8rem;
    transform: scale(0.7);
}
.txt1 {
    font-size: 18px;
    color: #FFF;
}
.i {
    margin-right: 20px;
    width: 2rem;
    height: 2rem;
    transform: scale(0.7);
}
.part1 {
    display: flex;
    justify-content: center;
    position: relative;
}
.txt2 {
    position: absolute;
    top: 121px;
    color: #FFF;
    font-size: 1.4rem;
    
}
.txt3 {
    color: #FFC865;
    text-align: center;
    font-size: 1.1rem;
    margin: 0 1rem 1rem;
}
.part2 {
    padding: 0 1.5rem;
    font-size: 1rem;
    color: #FFF;
    line-height:155%;

}
.part3 {
    background-color: #FFF;
    border-bottom: 1px solid #E1E5E7;
}

.txtsize1 {
    display: inline-block;
    padding: 10px 0 10px 20px;
    font-size: 20px; 
}
.txtsize2 {
    display: inline-block;
    float: right;
    padding: 10px 20px 0 0;
    font-size: 16px;
    color: #C7C7C7;
}
.two {
    padding-left: 20px;
    padding-bottom: 10px;
    color: #A6A6A6;
    font-size: 16px;
    
    line-height: 160%;
   
}
footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 60px;
    bottom: 0;
    width: 100%;
    background: rgba(153,223,240,0.5);
    overflow-x: hidden;
}
.once {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 40%;
    margin-right: 5%;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background-color: #F66F6F;
    outline: none;
}
.sure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 40%;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: #FFF;
    background-color: #FBB435;
    outline: none;
}

.part4 {
    white-space: nowrap;
    border-bottom: 1px solid #E1E5E7;
    background-color: #FFF;
    overflow-x: hidden;
}
.champion {
    height: 12rem;
    width: 20rem;
    transform: scale(0.7);
}
.part5 {
    height: 70px;
    background-color: #FFF;
}