*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
.all {
    min-height: 100%;
    height: auto !important;
    padding-bottom: 80px;
}
.header {
    display: flex;
    display: -webkit-flex;
    width:100%;
    height: 50px;
    background-color: #5FC0CD
}
.photo1 {
    margin: 15px;
    position: absolute;
}
.text1 {
    font-size: 25px;
    color: #FFF;
    margin:auto;
}
.main {
    display: -webkit-flex;
    display: flex;
    width:100%;
    height: 150px;
    -webkit-align-items: flex-start;

}
.background-img {
    background-image: url("背景医生.png");
    height: 150px;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    background-size: 100% 100%;
    position: absolute;
    z-index: -2;
}
.bg-img2 {
    background-image: url("背景医生灰色前图层.png");
    height: 150px;
    width:100%;
    position: absolute;
    z-index: -1;
}
.photo2 {
    position: absolute;
    left: 10px;
    top: 85px;
    z-index: -1;
}
.p3 {
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 85px;
}
.t2 {
    font-size: 18px;
    position: absolute;
    color: #FFFFFF;
    top: 90px;
    left: 110px;

}
.p4 {
    position: absolute;
    top: 120px;
    left: 110px;
}
.t3 {
    position: absolute;
    top: 120px;
    left: 130px;
    font-size: 14px;
    color: #FFFFFF;
}
.chapter1 {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 60px;
    -webkit-align-items:flex-start ;
}
.p5 {
    position: relative;
    left:30px;
    top:20px;
}
.t4 {
    font-size: 23px;
    position: relative;
    left: 50px;
    top:15px;

}
.fen1 {
    position: relative;
    top:-15px;
}
.chapter2 {
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 60px;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
}
.p6 {
    position: relative;
    left:30px;
    top: 5px;
}
.t5 {
    position: relative;
    left:42px;
    font-size: 18px;
}
.p7 {
    position: relative;
    left:50px;
    top: 7px;
}
.p8 {
    position: relative;
    left:60px;
    top: 5px;
}
.t6 {
    position: relative;
    left:70px;
    font-size: 18px;
}
.chapter3 {
    display: flex;
    display: -webkit-flex;
    width: 500px;
    height: 60px;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
}
.fen2 {
    position: relative;
    left:5%;
}
.t7 {
    position: relative;
    left: 30px;
    top: -1px;
    font-size: 18px;
}
.p9 {
    position: relative;
    top :4px;
    left :45px;
}
.t8 {
    position: relative;
    font-size: 18px;
    left: 60px;
}
.chapter4 {
    display: flex;
    display: -webkit-flex;
    width: 500px;
    height: 60px;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
}
.fen3 {
    position: relative;
    left:5%;
}
.t9 {
    position: relative;
    left: 30px;
    top: -1px;
    font-size: 18px;
}
.p10 {
    position: relative;
    top :4px;
    left :45px;
}
.t10 {
    position: relative;
    font-size: 18px;
    left: 60px;
}
.chapter5 {
    display: flex;
    display: -webkit-flex;
    width: 500px;
    height: 60px;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
}
.fen4 {
    position: relative;
    left:5%;
}
.t11 {
    position: relative;
    left: 30px;
    top: -1px;
    font-size: 18px;
}
.p11 {
    position: relative;
    top :4px;
    left :45px;
}
.t12 {
    position: relative;
    font-size: 18px;
    left: 60px;
    color: #FF0000;
}
.chapter6 {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: auto;
    -webkit-align-items: flex-start;
    -webkit-flex-wrap: wrap;
}
.fen5 {
    position: relative;
    left:5%;
}
.t13 {
    position: relative;
    left: 30px;
    top: 22px;
    font-size: 18px;
}
.p12 {
    position: relative;
    top :25px;
    left :45px;
}
.t14 {
    margin-left: 135px;
    margin-top: -10px;
}
.footer {
    margin-top: -80px;

}
.b1 {
    background-color: #FFFFFF;
    border-radius: 10px;
    border:1px solid #5FC0CD;
    text-align: center;
    color: #5FC0CD;
    width: 42%;
    height: 50px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.b2 {
    background-color: #5FC0CD;
    border-radius: 10px;
    border:1px solid #5FC0CD;
    text-align: center;
    color: #FFFFFF;
    width: 42%;
    height: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}